[MASTER]

load-plugins = pylint_django

[MESSAGES CONTROL]

; E5142: User model imported from django.contrib.auth.models (imported-auth-user)
; R0801: Code duplication (duplicate-code)
; R0901: Too many accessor during an inheritance (too-many-ancestors)
disable = E5142,R0801,R0901

[BASIC]

# Regular expression which should only match function or class names that do
# not require a docstring.
no-docstring-rgx=^(Test|test_).*$
# Valid method name for self reference.
good-names=me

[FORMAT]

max-line-length = 120
